{% load static i18n %}
<!DOCTYPE html>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>Battle Goal</title>
	<style>
		.mt10 {
			margin-top: 10%;
		}
		.btn.btn-lg {
			margin-top: 50px;
			font-size: 44px;
		}
	</style>
	<!-- Bootstrap -->
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<div class="container">
		{% if not distributed %}
		<h1 id="info" class="text-center mt10" hidden="hidden">Wait for master to distribute the goals...</h1>
		{% else %}
			{% if not img_path %}
			<form id="fm" action="#" method="post">
				{% csrf_token %}
				<div class="row">
					<div class="col text-center">
						<img id="goal_1" class="mx-auto mt10" src="{{ img_path_1 }}" alt="Battle Goal 1" style="width: 592px;">
						<button id="btn_1" type="button" class="btn btn-dark btn-lg" onclick="select_battle_goal(2)" style="">Select This</button>
					</div>
				</div>
				<div style="height: 50px;"></div>
				<div class="row">
					<div class="col text-center">
						<img id="goal_2" class="mx-auto mt10" src="{{ img_path_2 }}" alt="Battle Goal 2" style="width: 592px;">
						<button id="btn_2" type="button" class="btn btn-dark btn-lg" onclick="select_battle_goal(2)" style="margin-bottom: 5%;">Select This</button>
					</div>
				</div>
				<input id="selected" type="text" name="selected" hidden="hidden">
			</form>
			{% else %}
				<div class="row">
					<div class="col text-center">
						<img id="goal" class="mx-auto mt10" src="{{ img_path }}" alt="Battle Goal" style="width: 592px; margin-bottom: 5%;">
					</div>
				</div>
			{% endif %}
		{% endif %}
	</div>
	<!-- jQuery -->
	<script src="/static/js/jquery-3.4.1.min.js"></script>
	<!-- Bootstrap -->
	<script src="/static/js/bootstrap.min.js"></script>
	<script type="text/javascript">
	function select_battle_goal(choice) {
		$("#selected").val(choice);
		$("#fm").submit();
	}
	$(document).ready(function() {
		console.log("{{ distributed }} : img_path: {{ img_path }} img_path_1: {{ img_path_1 }} img_path_2: {{ img_path_2 }}")
	});
	</script>
</body>

</html>